.icon-login {
    font-size: 45vw;
    background-color: #9ec4e6;
    color: #e0e9fa;
    display: inline-block;
    height: 0;
    padding-bottom: 50%;
    width: 50%;
    border-radius: 50%;
}

.icon-login:hover {
    color: #283439;
}

.centered {
    text-align: center;
    margin-top: 5%;
}
