.star-group {
    z-index: 1;

}
.star-group .input-group-text, .star-group input {
    border-radius:0 !important;
    background: white;
    /*1px solid #*/
    border: 0px;
    border-bottom: 1px solid #ced4da;
}

.star-input:focus {
    background: #d9ebff;

    border-bottom: 3px solid #2d9ae3;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.star-remove {
    display:none;
    background:transparent !important;
}

.star-group:hover {
    z-index: 2;
    box-shadow: 0px 5px 5px rgba(52, 52, 52, 0.5);
}

.star-group:hover .star-remove {
    display: inherit;
}