@import "variables";

$noteHeight: 30px;

.note {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    background: #373838;
    margin-bottom: 3px;
    border-radius: $noteHeight / 3;

    input, textarea {
        background: inherit;
        background-color: rgba(0,0,0,0);
        color: inherit;
        margin: 2px 11px;
        flex: 1;
        border: none;
        line-height: $noteHeight;
        max-height: 3 * $noteHeight;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    &:hover {
        z-index: 2;

        & .star-remove {
            display: inherit;
        }
    }

    .star-remove {
        display:none;
        background:transparent !important;
        margin-top: 10px;
        margin-right: 5px;
    }
}