@import "variables";

$noteHeight: 30px;

.note {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    background: $note-background;
    margin-bottom: 3px;
    border-radius: $noteHeight / 3;
    cursor: grab;

    input, textarea {
        background: inherit;
        background-color: rgba(0,0,0,0);
        color: inherit;
        margin: 2px 11px;
        flex: 1;
        border: none;
        line-height: $noteHeight;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    &:hover {
        z-index: 2;

        & .star-remove {
            svg {
                max-width: 1.15em;
            }
        }
    }

    .star-remove {
        display: inherit;
        background:transparent !important;
        margin-top: 10px;
        margin-right: 5px;
        cursor: pointer;

        svg {
            transition: max-width 0.22s ease-in-out;
            max-width: 0;
            max-height: 1.15em;
        }
    }
}