.test {
    border-color: yellow;
}

.react-tabs__tab-list {
    /*margin: 0; !* remove space under the tab list*!*/
    padding: 0;
    overflow: scroll;
    white-space: nowrap;
}


::-webkit-scrollbar {
    display: none;
}

.gray {
    color: #aaa
}