.test {
    border-color: yellow;
}

.react-tabs__tab-list {
    overflow: scroll;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 1px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
