@import "variables";

.entity-container {
    background: $third-bg;
    color: $secondary-text;
}

.react-tabs__tab-list {
    /*margin: 0; !* remove space under the tab list*!*/
    padding: 0;
    overflow: scroll;
    white-space: nowrap;
}


::-webkit-scrollbar {
    display: none;
}

.gray {
    color: #ccc;
}

.synced {
    font-size: 15px;
}


.nestable-item.is-dragging {
    /*background: red;*/
}
/* Injecting own colors into Nestable classes */
.nestable-item.is-dragging:before {
    background: #575757;
    //background: rgba(98, 168, 255, 0.2);
    /*rgba(164, 202, 236, 0.19);*/
    border: teal; //2px solid rgba(98, 168, 255, 0.5);
    border-radius: 10px;
}

.nestable-item:hover {
}

.nestable-item .nestable-list, .nestable-item-copy .nestable-list {
    margin: 0;
    background: transparent;
}

.nestable-item, .nestable-item-copy {
    margin-top: 0;
    background: transparent;
}