// Primaries will be used for the majority case.
// Secondaries will stand out more, and will be used less.
$primary-bg: #565656;
$note-background: #373838;
$secondary-bg: #343434;
$third-bg: #1C1D1D;

$placement-background: #575757;

$primary-text: #fffafa;
$secondary-text: #F2F2F2;
